#header {
    text-align: center;
    height: 100px;
    position: relative;
    max-width: 100%;
    width: 100%;
    
    
}
img {
    height: 70%;
    width: 70%;
}
p {
    font-size: 30px;
}
#content {
    float: left;
   height: 700px;
   
}
a:hover {
    color: red;
}
#icon1 {
    float: left;
    width: 500px;
    height: 500px;
    max-width: 100%;
    height: auto;
    position: absolute;
    margin-left: 200px;

}
#icon2 {
    float: left;
    margin-left: 700px;
    position: absolute;
    max-width: 100%;
    height: auto;
    width: 500px;
    height: 500px;
  
}
