body {
    background: url("../Picture/numbers.jpg") repeat;
   
    font-family: sans-serif;
   
}
.mainbox {
    z-index: 0;
    position: relative;
    margin: 15px auto 20px;
    width: 960px;
    min-height: 600px;
    border-radius: 15px;
    background: #ffffff;
}
.headbox {
    border-radius: 15px 15px 0px 0px  ;
   
    background: rgb(12, 36, 87);
    height: 48px;
    line-height: 48px;
    position: relative;
}
.back {
    height: 49px;
    width: 100px;
   
    float: left;
    border-top-left-radius: 15px;
    text-align: center;
    font-family: sans-serif;
    background-color: #ffffff;
}

#backButton {
    font-size: 18px;
    color: rgb(39, 125, 175);
    text-decoration: none;
}

.back .arrow-left {
    top: -2px;
    vertical-align: middle;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #246EA1 ;
    position: relative;
    border-radius: 50%;
}

.back .arrow-left::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: -18px;
    top: -15px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
}

.rightbar {
    height: 49px;
    float: left;
    background-color:#ffffff;
    width: 760px;
    
   

}
.next {
    height: 49px;
    float: left;
    width: 100px;
    background-color: white;
    border-top-right-radius: 15px;
}
.progress {
    height: 40px;
    width: 560px;
    margin-left: 100px;
    margin-top: 5px;
    background-color: #f1dede;
    position: relative;
    border-radius: 5px;
}
.ball {
    height: 40px;
    width: 40px;
    float: left;
    position: relative;
    border-radius: 40px;
    background-color: red;
}
.contentncap {
    padding-top: 10px;
    margin-top: 1px, black;
    
}


.caption {
    width: 960px;
    position: relative;
    height: 70px;
    text-align: center;
    line-height: 69px;
    font-size: 50px;
   
}
.content {
    width: 960px;
    height: 420px;
    position: relative;
    background-color: #ffffff;
    margin-left: 0px;
    margin-top: 30px;
}
.line {
    width: 960px;
    float: top;
    height: 140px;
    text-align: left;
    line-height: 100px;
    font-size: 40px;
}
.question {
    float: left;
    width: 500px;
    height: 140px;
}
.answer {
    float: left;
    height: 140px;
    width: 460px;
    font-size: 20px;
}
.submit {
    
    height: 25px;

}
.check_input {
    float: left;
    height: 140px;
    width: 230px;
}
.message {
    float: left;
    height: 140px;
    width: 230px;
}
.img {

    height: 267px;
    background-color: cyan;
}