body {
    background: url("../Picture/numbers.jpg") repeat;
    font-family: sans-serif;
}
.startSpace{
    height: 550px;
    width: 960px;
}

#backButton {
    font-size: 18px;
    color: rgb(39, 125, 175);
    text-decoration: none;
}

.back .arrow-left {
    top: -2px;
    vertical-align: middle;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #246EA1 ;
    position: relative;
    border-radius: 50%;
}

.back .arrow-left::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: -18px;
    top: -15px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
}

.progress {
    padding-top: 3px ;
    height: 23px;
    width: 560px;
    margin-left: 100px;
    margin-top: 5px;
    background-color: #f1dede;
    position: relative;
    border-radius: 10px;
}
.ball{
    width: 21px;
    height: 21px;
    float: left;
    position: relative;
    background: url("../Picture/ball.png");
}
.columnSpace{
    height: 400px;
    width: 480px;
    float: left;
}
.column{
    margin-top: 100px;
    margin-left: 50px;
}
.question1Space{
     float: right;
     height: 550px;
     width: 480px;
     text-align: left;
     font-size: 30px;
 }
.question1{
     margin-top: 100px;
 }
.suggest1Space{
    height: 150px;
    width: 480px;
    float: left;
}
.suggest1{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
    text-align: center;
    background-color: #f0f1ba;
}
div.tens1{
    display: inline;
}
.question2Space{
    height: 200px;
    width:  960px;
    text-align: center;
    float: left;
    font-size: 30px;
}
.suggest2Space{
     height: 350px;
     width: 300px;
     float: left;
 }
.suggest2{
    margin-left: 40px;
    margin-right: 40px;
    padding: 30px;
    font-size: 30px;
    text-align: center;
    background-color: #f0f1ba;
}
.column2Space{
    height: 350px;
    width: 660px;
    float: right;
}
div.tens{
    display: inline;
}
div.units{
    display: inline;
}
input{
    color: transparent;
    text-shadow: 0 0 0 black;
    /*&:focus {*/
    /* outline: none;*/
    /*}*/
}
input.inputBox1{
    type: text;
    value: '';
    width: 50px;
    height: 30px;
    font-size: 30px;
    text-align: center;
}
input.inputBox2{
    type: text;
    value: '';
    width: 35px;
    height: 30px;
    font-size: 30px;
    text-align: center;
}
.content{
    height: 550px;
    width: 960px;
    position: relative;
}

.mainBox {
    z-index: 0;
    position: relative;
    margin: 15px auto 20px;
    width: 960px;
    min-height: 600px;
    border-radius: 15px;
    background: #ffffff;
}
.headBox {
    border-radius: 15px 15px 0px 0px  ;
    background: rgb(12, 36, 87);
    height: 48px;
    line-height: 48px;
    position: relative;
}
.back {
    height: 49px;
    width: 100px;
    float: left;
    border-top-left-radius: 15px;
    text-align: center;
    font-family: sans-serif;
    background-color: #ffffff;
}
.rightBar {
    height: 49px;
    float: left;
    background-color:#ffffff;
    width: 760px;
}
.next {
    height: 49px;
    float: left;
    width: 100px;
    background-color: white;
    border-top-right-radius: 15px;
}
